name: Go Test

defaults:
  run:
    working-directory: v2

on:
  pull_request:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event_name == 'push' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  go-test:
    uses: pl-strflt/uci/.github/workflows/go-test.yml@v0.0
    with:
      go-versions: '["this"]'
      go-version: '1.21.1'
